@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
   --Purple-50: hsl(260, 100%, 95%);
   --Purple-300: hsl(264, 82%, 80%);
   --Purple-500: hsl(263, 55%, 52%);
   --White: hsl(0, 0%, 100%);
   --Grey-100: hsl(214, 17%, 92%);
   --Grey-200: hsl(0, 0%, 81%);
   --Grey-400: hsl(224, 10%, 45%);
   --Grey-500: hsl(217, 19%, 35%);
   --Dark-blue: hsl(219, 29%, 14%);
   --Black: hsl(0, 0%, 7%);
}
@font-face {
    font-family: BSCL;
    src: url(./BFMP/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf);
}
@font-face {
    font-family:BSC ;
    src: url(./BFMP/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf);
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: var(--Grey-200);
    padding: 1rem;
}
h1{
font-family: BSC;
}
.title{
    display: flex;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    margin-left: 1rem;
}
.avatar{
    border-radius: 26px;
    width: 40px;
    border: 4px solid var(--Purple-300);
}
h1 .name{
    font-size: 1rem;
}
h1 .veirified{
    font-size: .8rem;
    color: var(--Grey-200);
}
.card-1, .card-2,.card-3, .card-4, .card-5{
  
    margin-top: 2rem;
    padding: 2rem;
    border-radius: .5rem;
    color: var(--White);

}
.card-3 .veirified, .card-5 .veirified{
    color: var(--Grey-400);
}
.card-3, .card-3 .small, .card-5, .card-5 .small{
    
    color: var(--Grey-500);
}
.gra{
    font-family: BSC;
    margin-bottom: 1rem;
    font-size: 1.4rem;

}
.small{
    color: var(--Grey-100);
    font-family: BSCL;
}
.card-1{
    background-color: var(--Purple-500);
}
.card-2{
    background-color: var(--Grey-500);
    color: var(--White);
}
.card-3, .card-5{
    background-color: var(--White);
}
.card-4{
    background-color: var(--Dark-blue);
    color: var(--Grey-200);
}



@media (min-width: 775px){

    .card-1{
        grid-area:Daniel;
        justify-self: stretch;
    }
    .card-2{
        grid-area: Jonathan;
    }
    .card-3{
        grid-area: Jenette;
    }
    .card-4{
        grid-area: Patrick;
        justify-self: stretch;
    }
    .card-5{
        grid-area: Kira;
    }
    .column{
        display: flex;
        flex-direction: column;
    }
    .cards{
        display: grid;
        grid-template-areas: "Daniel Daniel  Jonathan Kira" "Jenette Patrick Patrick  Kira";
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        
        
    }

    
}
